{% extends "base.html" %}
{% block content %}
    <h3 class='text-center'>Add Customer</h3>
    <hr>

    <form acion='' method='POST' class='col-md-2 offset-lg-5' novalidate>
        <div class='row'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" class="form-control" id="latitude" name="latitude" readonly>
            <input type="hidden" class="form-control" id="longitude" name="longitude" readonly>
            <span class="input-group-btn">
                <input class="btn btn-outline-success col-md-4 offset-lg-4" type="submit" value="Submit">
            </span>
        </div>
    </form>

    <div align="center">
        <div id="map"></div>
        <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


        <script>

            // Initialize the map
            const map = L.map('map').setView([36.322217000498554, 59.57129235510297], 11); // Set initial view (latitude, longitude, zoom level)

            // Add OpenStreetMap tiles
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            
            let marker;
            map.on('click', function(e) {
                const { lat, lng } = e.latlng;

                if (marker) {
                    map.removeLayer(marker);
                }
                marker = L.marker([lat, lng]).addTo(map);
                document.getElementById('latitude').value = lat;
                document.getElementById('longitude').value = lng;
            })
        </script>
    </div>
{% endblock content %}